/*Reset CSS*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variáveis */
:root {
    --vermelho:#E50914;
    --preto: #141414;

}

body {
    color: #ffffff;
    background: var(--preto);
    font-family: 'Times New Roman', Times, serif;
}


header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    color: var(--vermelho);
    font-family: 'Arial Black', Arial, Helvetica, sans-serif;
    font-size: 30px;
    
}

header nav a{
    text-decoration: none;
    color: #aaaaaa;
    margin-right: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
    header nav a:hover {
        color: #ffffff;
    }

/*filme-principal*/

.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url(../img/capa-house.jpg);

    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.filme-principal .descricao {
    margin-bottom: 40px;

}

.titulo{
    font-size: 40px;
}